<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="semantic/style.css">
      <title>Trip Planner Static</title>
    </head>
    
    <body>
      
      <div class="ui bottom attached segment pushable">
        <div class="ui menu">
          <a class="item">Trip Planner</a>
          <a class="item">Home</a>
          <a class="item">About</a>
          <a class="item">Contact</a>
        </div>
        
        <div class="ui visible right vertical sidebar menu">
          {% block content %}
          
          {% endblock %}
          
          <a class="item">
            <i class="block layout icon"></i>
            Topics
          </a>
        </div>
        <div class="pusher">
          <div class="ui basic segment">
            <h3 class="ui header"><div id="map"></div></h3>
            
              
              <script>
                  function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 4,
                      center: uluru
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
              </div>
            </div>
          </div>
      
      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script src="semantic/dist/semantic.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpG8V3rubc408_NmvkYoVSJHdKnUNQ_6A&sensor=true"></script>
  </body>
</html>